<div class="mt-3 mb-3">
  <div class="card shadow-sm mb-3">
    <div class="card-header bg-secondary text-white">
      <h5 class="mb-0">Filtrar Funcionários</h5>
    </div>
    <div class="card-body">
      <%= search_form_for @q, url: applicants_path, method: :get, html: { class: 'form-inline mb-3' } do |f| %>
        <div class="row">
          <div class="col-md-3">
            <%= f.label :name_cont, 'Nome' %>
            <%= f.text_field :name_cont, class: 'form-control', placeholder: 'Filtrar por nome' %>
          </div>

          <div class="col-md-3">
            <%= f.label :cpf_cont, 'CPF' %>
            <%= f.text_field :cpf_cont, class: 'form-control', placeholder: 'Filtrar por CPF' %>
          </div>

          <div class="col-md-3">
            <%= f.label :birthdate_gteq, "Data de Nascimento (de)", class: "form-label me-2" %>
            <%= f.date_field :birthdate_gteq, class: "form-control me-2" %>
          </div>

          <div class="col-md-3">
            <%= f.label :birthdate_lteq, "Data de Nascimento (até)", class: "form-label me-2" %>
            <%= f.date_field :birthdate_lteq, class: "form-control me-2" %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-end mt-4">
            <%= link_to 'Relatórios', reports_applicants_path, class: 'btn btn-success' %>
            <%= link_to 'Novo', new_applicant_path, class: 'btn btn-warning' %>
            <%= f.submit 'Filtrar', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="card shadow-sm">
    <div class="card-header bg-primary text-white">
      <h5 class="mb-0">Lista de Funcionários</h5>
    </div>
    <div class="card-body">
      <div class="d-none d-md-block">
        <!-- Tabela para telas maiores -->
        <table class="table table-striped mb-0">
          <thead class="table-light">
            <tr>
              <th>Nome</th>
              <th>CPF</th>
              <th>Data de Nascimento</th>
              <th>Salário</th>
              <th>Desconto INSS</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <% ApplicantPresenter.wrap(@applicants).each do |applicant| %>
              <tr>
                <td><%= applicant.name %></td>
                <td><%= applicant.cpf %></td>
                <td><%= applicant.birthdate %></td>
                <td><%= applicant.salary %></td>
                <td><%= applicant.discount %></td>
                <td class="d-flex align-items-center">
                  <%= link_to edit_applicant_path(applicant.id), class: 'text-primary me-2', title: 'Editar' do %>
                    <i class="bi bi-pencil"></i>
                  <% end %>
                  <%= button_to applicant_path(applicant.id), 
                                method: :delete, 
                                data: { confirm: 'Você tem certeza?' }, 
                                title: 'Excluir', 
                                style: 'background-color: transparent; border: none; padding: 0; color: red; text-decoration: none; cursor: pointer;' do %>
                    <i class="bi bi-trash"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <!-- Listagem para telas menores -->
      <div class="d-md-none">
        <% ApplicantPresenter.wrap(@applicants).each do |applicant| %>
          <div class="card mb-3 shadow-sm">
            <div class="card-body">
              <h5 class="card-title"><%= applicant.name %></h5>
              <p class="card-text">
                <strong>CPF:</strong> <%= applicant.cpf %><br>
                <strong>Data de Nascimento:</strong> <%= applicant.birthdate %><br>
                <strong>Salário:</strong> <%= applicant.salary %><br>
                <strong>Desconto INSS:</strong> <%= applicant.discount %>
              </p>
              <div class="d-flex justify-content-end">
                <%= link_to edit_applicant_path(applicant.id), class: 'btn btn-primary btn-sm me-2', title: 'Editar' do %>
                  <i class="bi bi-pencil"></i>
                <% end %>
                <%= button_to applicant_path(applicant.id), 
                              method: :delete, 
                              data: { confirm: 'Você tem certeza?' }, 
                              class: 'btn btn-danger btn-sm', 
                              title: 'Excluir' do %>
                  <i class="bi bi-trash"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="card-footer text-center">
      <!-- Paginação para telas maiores -->
      <div class="d-none d-md-block">
        <%= paginate @applicants, class: 'pagination justify-content-center mb-0' %>
      </div>
      
      <!-- Paginação simplificada para telas menores -->
      <div class="d-md-none">
        <nav>
          <ul class="pagination justify-content-center">
            <% if @applicants.prev_page %>
              <li class="page-item">
                <%= link_to 'Anterior', url_for(page: @applicants.prev_page), class: 'page-link' %>
              </li>
            <% end %>
            <% if @applicants.next_page %>
              <li class="page-item">
                <%= link_to 'Próximo', url_for(page: @applicants.next_page), class: 'page-link' %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    const searchForm = $("#applicant_search")
    const seachCpfInput = $('#q_cpf_cont');

    seachCpfInput.mask('000.000.000-00');

    if (searchForm.length) {
      searchForm.on('submit', function () {
        if (seachCpfInput.length) {
          seachCpfInput.val(seachCpfInput.val().replace(/\D/g, ''));
        }
      });
    }
  });
</script>