<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Desconto Inss" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js', 'https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js' %>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Adicionando o CSS para o alinhamento à direita -->
    <style>
      .alert {
        position: fixed;
        top: 20px;
        right: 20px;
        width: auto;
        max-width: 350px;
        z-index: 1050;
      }
    </style>

  </head>

  <body class="bg-light">
    <div class="container">
      <% if notice %>
        <div class="alert alert-success alert-dismissible fade show mt-4" role="alert" id="successAlert">
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-danger alert-dismissible fade show mt-4" role="alert" id="errorAlert">
          <%= alert %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

      <%= yield %>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        setTimeout(function() {
          const successAlert = document.getElementById('successAlert');
          const errorAlert = document.getElementById('errorAlert');
          if (successAlert) successAlert.classList.remove('show');
          if (errorAlert) errorAlert.classList.remove('show');
        }, 6000);
    
        const closeButtons = document.querySelectorAll('.btn-close');
        closeButtons.forEach(function(button) {
          button.addEventListener('click', function() {
          this.closest('.alert').classList.remove('show');
          });
        });
      });
    </script>
  </body>
</html>
